DATABASE_URL=postgresql://opora_user:opora_dev_pass@localhost:4202/opora_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=4202
POSTGRES_USER=opora_user
POSTGRES_PASSWORD=opora_dev_pass
POSTGRES_DB=opora_dev
JWT_SECRET=change-me-in-production
BITRIX_API_ENDPOINT=
BITRIX24_SMART_PROCESS_VISIT_ID=1054
TOKEN_DADATA=
SECRET_DADATA=
CORS_ORIGINS=http://localhost:4200
ENVIRONMENT=development
DEV_MODE=True
FTP_HOST=
FTP_USER=
FTP_PASSWORD=
FTP_DIRECTORY=
FTP_FILENAME=
